**/__pycache__

Detectron_pytorch/lib/detectron_pytorch.egg-info
lib/utils_rel/cython_bbox_rel.cpython-39-x86_64-linux-gnu.so

data/ag
data/cache/*
data/vidvrd/*
data/vidvrd/annotations/*
data/obj_embed/*
!data/vidvrd/annotations/object.txt
!data/vidvrd/annotations/predicate.txt

detection_models
results

Detectron_pytorch/lib/utils/cython_bbox.c
Detectron_pytorch/lib/utils/cython_nms.c
lib/utils_rel/cython_bbox_rel.c
lib/utils_rel/cython_bbox_rel.cpython-38-x86_64-linux-gnu.so

Outputs/*