**/__pycache__

Detectron_pytorch/lib/detectron_pytorch.egg-info
lib/utils_rel/cython_bbox_rel.cpython-39-x86_64-linux-gnu.so

data/ag
data/vidvrd/features
data/vidvrd/models
data/vidvrd/frames
data/vidvrd/videos
data/vidvrd/vidvrd_pre_features.zip
data/vidvrd/annotations/*
data/obj_embed
!data/vidvrd/annotations/object.txt
!data/vidvrd/annotations/predicate.txt

detection_models
results